PORT=3001
MONGO_URI=mongodb+srv://castroleonardo2005_db_user:zsP0hw10oUWn6fEd@cluster0.waun2xx.mongodb.net/
JWT_SECRET=pon_aqui_un_string_muy_largo_y_aleatorio
ENCRYPT_KEY=32_caracteres_exactos_para_AES256